<div class="skillsForm" style="">

  <table class="">
    <thead>


    </thead>
    <tbody id="">
      <td style="width:30%"> <input class="form-control style="width:100%"<%= datetime_field_tag 'activity_dates[]',  placeholder: 'DD/MM/YYYY HH:%MM' %> </td>
      <td style="width:10%;text-align: center;"> <%= check_box_tag 'confirmed_dates[]', checked: false %> </td>
      <td style="width:20%"> <input type="text" class="form-control" style="width:100%;"<%= text_field_tag 'durations[]' %> </td>
    </tbody>
  </table>

</div>
