<div class="" style="">

  <table class="">
    <thead>
      <th> </th>
      <th> </th>
      <th> cost </th>
    </thead>

    <tbody id="">
      <tr>
      <td style="width:10%;text-align: center;"> <%= check_box_tag 'professors_selected[]', checked: false %> </td>
      <td style="width:50%;"> <%= professor.display_fullname %> </td>
      <td style="width:20%"> <input type="text" class="form-control" style="width:100%;"<%= text_field_tag 'costs[]' %> </td>
    </tbody>
  </table>

</div>
